@import './base.css';
@import './game-theme.css';
@import './responsive.css';

#app {
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: manipulation;
}
